/*font family, font files are in the folder /public/fonts/..*/
@font-face {
  font-family:Tradegothic-std;
  src:url('/fonts/tradegothic/TradeGothicLTStd.otf');
}
@font-face {
  font-family:Tradegothic-stdIta;
  src:url('/fonts/tradegothic/TradeGothicLTStd-Cn18Obl.otf');
}
@font-face {
  font-family:Tradegothic-stdbold;
  src:url('/fonts/tradegothic/TradeGothicLTStd-Bold.otf');
}
@font-face {
  font-family:Tradegothic-stdBdCn;
  src:url('/fonts/tradegothic/TradeGothicLTStd-BdCn20.otf');
}
@font-face {
  font-family:Bodoni-stdblack;
  src:url('/fonts/bodoni/BauerBodoniStd-Black.otf');
}
@font-face {
  font-family:Bodoni-stdblackIta;
  src:url('/fonts/bodoni/BauerBodoniStd-BlackItalic.otf');
}
@font-face {
  font-family:Bodoni-stdblackcond;
  src:url('/fonts/bodoni/BauerBodoniStd-BlackCond.otf');
}
@font-face {
  font-family:Bodoni-stdIta;
  src:url('/fonts/bodoni/BauerBodoniStd-Italic.otf');
}
@font-face {
  font-family:Bodoni-stdroman;
  src:url('/fonts/bodoni/BauerBodoniStd-Roman.otf');
}
@font-face {
  font-family:Bodonistd-bcond;
  src:url('/fonts/bodoni/BauerBodoniStd-BoldCond.otf');
}
@font-face {
  font-family:Bodonistd-bd;
  src:url('/fonts/bodoni/BauerBodoniStd-Bold.otf');
}
@font-face {
  font-family:Bodonistd-book;
  src:url('/fonts/bodoni/BodoniStd-Book.otf');
}
@font-face {
  font-family:Bodonistd;
  src:url('/fonts/bodoni/BodoniStd.otf');
}


/*Font style for "Personalize Your Cigar"*/
h1 {
  font-family: Bodoni-stdroman;
  text-align: center;
}

/*Font-family for step title "Step1/2/3/.."*/
h3 {
  font-family: Tradegothic-stdBdCn;
}

/*image style for the templates in step1*/
.step1img {
  width:12vmax;
  height:12vmax;
}

/*category title under the template image in step1*/
.categoryTitle {
  font-family: Bodoni-stdroman;
  font-size: 150%;
}

/*two background images in stap2*/
.designImageBackground {
  max-width: 90%;
  height:25vw;
}

/*three template images showed up after clicking the category title*/
.templateImg {
  max-width: 100%;
}

/*the template svg show on the background image*/
.templateOnStep2 {
  max-width: 90%;
  height:25vw;
  z-index: 2;
  position: relative;
  margin-top:-25vw;	

}

/*the text "Drag Items to position on Label"*/
.dragItemsTo {
  font-family: Bodoni-stdIta;
  font-size: 130%;
  text-align: right;
  max-width: 90%;

}

/*the initial position of the text showed on the template*/
.presentTextDiv {
  margin-top:-13vw;
  position:relative;
  z-index:1111;
} 

/*the text style of 1.TEXT 2.COLOR 3.OPTIONAL IMAGE OR LOGO*/
.step2Title {
  font-family: Tradegothic-stdBdCn;
  display: block;
  text-align: center;
  font-size: 150%
}


/*the placeholder text style of the input "Insert your text here"*/
input::placeholder {
  color: #4c372e;
}

/*the text style of the value when user input something */
.textInput {
  background:transparent;
  display: inline-block;
  border:1px white solid;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
  color: #4c372e;
  font-size: 140%;
  font-family: Tradegothic-stdBdCn
}

/*BEGIN of changing Select component css, original one is in react-select/dist/react-select.css*/
.Select-menu-outer {
  background-color: #dcc0ba !important;
  box-shadow: none !important;
}

.Select, .Select div, .Select input, .Select span {
  background:transparent;
}
.Select-control {
  background:transparent !important;
  border:1px white solid !important;
  height: 40px !important;
  margin-bottom: 2%;
}
.is-open > .Select-control {
  background:transparent !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color:#4c372e !important;
  font-family: Tradegothic-stdBdCn;
  font-size: 140%;
  line-height: 40px !important;
}

.Select-option {
  color: #4c372e !important;
}
/*END of changing Select component css*/

/*BEGIN button style of 2 "rotate" buttons and "text color" button*/
.step2Button {
  font-family: Tradegothic-stdBdCn;
  font-size: 150%;
  background:transparent;
  color: white;
  border:none;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
}
.step2Button:hover {
  background:transparent;
  color: #4c372e;
  border:none;
  text-shadow: none;
  box-shadow: none;
}
/*END* button style of 2 "rotate" buttons and "text color" button/

/*The text "ROTATE" style*/
.rotateText {
  font-family: Tradegothic-stdBdCn;
  display: inline-block;
  font-size: 150%;
  color: white;
}

/*BEGIN the buttons style in 3.OPtional image or logo (button with white border)*/
.step2ButtonBorder {
  font-family: Tradegothic-stdBdCn;
  font-size: 150%;
  background:transparent;
  color: white;
  border:1px white solid;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  width: 100%;
  margin-top:2%;
}
.step2ButtonBorder:hover {
  background:transparent;
  color: #4c372e;
  border:1px white solid;
  text-shadow: none;
  box-shadow: none;
}
/*END the buttons style in 3.OPtional image or logo (button with white border)*/

/*BEGIN button1 is for "Delete Text", button2 is for "Add more Text"*/
.step2WhiteButton1 {
  font-family: Tradegothic-stdBdCn;
  font-size: 150%;
  background-color: white;
  color: #dcc0ba;
  border:none;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  display: inline-block;
  width:45%;
  float: left;
}
.step2WhiteButton2 {
  font-family: Tradegothic-stdBdCn;
  font-size: 150%;
  background-color: white;
  color: #dcc0ba;
  border:none;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  display: inline-block;
  width:48%;
  float: right;
}
.step2WhiteButton1:hover, .step2WhiteButton2:hover{
  background-color: white;
}
/*END button1 is for "Delete Text", button2 is for "Add more Text"*/


.inlineBlockDis {
  display: inline-block;
}

